#chart-container{
    height: 98vmin;
    width: 95vmin;
    float: left;
}

#form{
    float: left;
    text-align: center;
    margin-left: 25vmin;
    margin-top: -50vmin;
    font-family: Arial, Helvetica, sans-serif;
}